<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--====================================== Cluster Definition==================================-->
    <!-- Id of the cluster that this node will join -->
    <add key = "clusterId" value="TestCluster"/>    
    
    <!-- Seed nodes in the cluster -->
    <add key = "seedNodes" value = "192.168.0.24:1000"/> 
    <!--===========================================================================================-->
    
    <!--====================================== Gossip settings ====================================-->
    <!-- The frequency in milliseconds that the node gossips its node list
         Default : 1000ms
    -->
    <add key = "gossipPeriod" value="1000" />
    
    <!-- Number of partners the node will select when gossiping the node list 
         Default : 3
    -->
    <add key = "gossipSpan" value = "3"/>
    <!--===========================================================================================-->
    
    <!--=============================== Dead node detection settings ==============================-->    
    <!-- The frequency in milliseconds that the node scavanges its node list for expired nodes 
         Default : gossipPeriod * 10
    -->
    <add key = "scavangePeriod" value="500" />
    
    <!-- Time period afer which a node is considered expired if there as not been an update 
         Default : max(scavangePeriod, gossipPeriod * 10)
    -->
    <add key = "nodeExpiryPeriod" value="10000"/>          
    
    <!-- Number of consecutive failed gossip attempts before the node is considered dead 
         Default : max(scavangePeriod / gossipPeriod, 3) 
    -->
    <add key = "maxFailedGossipAttempts" value = "3"/>
    <!--===========================================================================================-->
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>