<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "clusterId" value="TestCluster"/>          <!-- Id of the cluster that this node will join -->
    <add key = "gossipPeriod" value="1000" />             <!-- The frequency in milliseconds that the node gossips its node list -->
    <add key = "scavangePeriod" value="10000" />          <!-- The frequency in milliseconds that the node scavanges its node list for dead nodes -->
    <add key = "gossipSpan" value = "3"/>                 <!-- Number of partners the node will select when gossiping the node list -->
    <add key = "seedNodes" value = "192.168.0.24:1000"/>  <!-- Seed nodes in the cluster -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>